<div class="jumbotron">
  <div id="status"></div>
  <div id="canvas-div">
    <canvas id="main-canvas" width="100" height="100">
    Your browser does not support the HTML5 canvas tag.</canvas>
  </div>
</div>
