/* This file is for your main application css. */
#canvas-div {
  transform-origin: top left;
  transform: scale(5, 5);
  display: inline-block;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  padding: 2px;
}

#colors div {
    display: inline-block;

    width: 15px;
    height: 15px;
    background: black;

    /* a small margin to separate the blocks */
    margin-right: 2px;
}
